doctype html
html(lang="de")
 head
   meta(charset="UTF-8")
   meta(name="author" content="Luiz Carneiro")
   meta(name="viewport" content="width=device-width")
   meta(name="description" content="Der Lebenslauf von Luiz Carneiro ")
   link(type="text/css" rel="stylesheet" href="css/styles.min.css")
   title Luiz Carneiro - Lebenslauf
 body#top
     #cv.instaFade 
         .mainDetails
           #headshot.quickFade 
                 picture 
                   source(media='(max-width: 600px)' srcset='images/opt_medium.jpg')
                   source(media='(min-width: 601px)' srcset='images/opt_medium.jpg')
                   img(src='images/opt_medium.jpg' alt='Luiz Carneiro')
             #name
                 h1.quickFade.delayTwo Luiz Carneiro, PhD 
                 h2.quickFade.delayThree Software Entwickler  
                 p.quickFade.delayThree.subDetails Geb. am 23. März 1989 in Brasilien, Rio de Janeiro 
             #contactDetails.quickFade.delayFour
                 ul
                     li e-mail: <a href="mailto:luuizpaulo@gmail.com" target="_blank"> luiz@carneiro.dev </a>
                     li twitter: <a href="https://www.twitter.com/carneiroDotDev" target="_blank"> @carneiroDotDev </a>
                     li github: <a href="https://github.com/carneiroDotDev" target="_blank"> @carneiroDotDev </a>
                     li mobile: <a href="tel:004917672969754" target="_blank"> +4917672969754 </a> 
             .clear

         #mainArea.quickFade.delayFive
             section 
                 .sectionTitle
                     img(src='images/boy.png' alt='Personal Profile Icon' class='icon')
                     .centerSectionTitle
                         h1 Profil
                 .sectionContent
                     p.justify Software Entwickler und PhD in Physik mit Erfahrung in Cross-Plattform Entwicklung mit Javacript und seinen gängigen Frameworks, wie z.B. React, React Native, NodeJS und Express.
                 .clear 

             section
                 .sectionTitle
                     img(src='images/statistics.png' alt='Work Experience Icon' class='icon')
                     .centerSectionTitle
                        h1 Erfahrung 
                 .sectionContent
                     article
                         h2 Software Entwickler - Sport1 GmbH
                         p.subDetails Juni 2018 - jetzt | Deutsch
                         p.justify Ich beschäftige mich intensiv mit Javascript (React, NextJS, GatsbyJS) sowie den verschiedenen Tools zur Verbesserung der Codequalität (Typescript, Jest, Styled System).
                         ul.selfDescription
                             li Verwaltete Full-Stack-Projektentwicklung bis zum Einsatz
                             li Teamprojekte mit zwei bis fünfzehn Entwicklern sowie Beitrag zu verschiedenen Codebasen
                             li Tägliche Verwendung von Docker, Nginx, Kubernetes 
                     article
                         h2 Frontend Entwickler – Freelancer Projekte 
                         p.subDetails Juni 2017 - März 2018 | Englisch
                         p.justify Als autodidaktischer Entwickler habe ich angefangen, Webseitenmodelle in echten Code umzuwandeln (s. GitHub-Repositories, z.B. ist dieser Lebenslauf in pure-CSS verfasst). 
                 .clear

             section
                 .sectionTitle
                     img(src='images/computer.png' alt='Tech Skills Icon' class='icon')
                     .centerSectionTitle
                         h1 Key Skills*
                 .sectionContent
                     ul.keySkills
                         li Javascript <br> TypeScript <br> React <br> Jest <br> React Native <br> SSR <br> Docker <br> AMP <br> CSS-in-JS <br> NodeJS
                     p.note.justify *neben diesen habe ich auch Erfahrung mit Python, IDL, Fortran und Latex. 
                       //  span.note Besides these, I have also a strong experience with Python, IDL and Fortran. 
                 .clear

             section
                 .sectionTitle
                     img(src='images/science.png' alt='Education Icon' class='icon')
                     .centerSectionTitle
                         h1 Ausbildung 
                 .sectionContent
                     article
                         h2 Google Developer Nanodegree Stipendium  
                         p.subDetails Spezialisierungskurs (November 2017 - September 2018)
                         p.justify Nach der Kandidatenauswahl wurden uns in drei Kursen zu progressive Apps (PWAs) von Google Entwicklern u.a. die Themen Accessibility, Service Workers und Data Storage vermittelt. 
                         ul.selfDescription
                             li Zertifikat Mobile Web Specialist

                     article
                         h2 PhD - Ludwig-Maximilians-Universität München
                         p.subDetails Physik PhD (Januar 2014 - Mai 2018)
                         p.justify Während der Promotion veröffentlichte ich drei wissenschaftliche Artikel in einflussreichen Magazinen, die sich hauptsächlich mit Astronomie und theoretischen mathematischen Modellen befassen. 
                         ul.selfDescription
                             li Schwerpunkte: Datenanalyse, Plotting und Ergebnisspräsentation
                             li Schreiben von ca. 15.000 Codezeilen wärend der 4 Jahre 
                 .clear

                        //-  h2 Nationales Observatorium von Rio de Janeiro 
                        //-  p.subDetails Master (02/05/2011 - 01/07/2013) 
                        //-  p.justify Während des Master-Studiums hatte ich den ersten Kontakt mit den verschiedenen Tools, die in der wissenschaftlichen Forschung verwendet werden. Ich habe meine Kenntnisse in Linux sowie im wissenschaftlich englischsprachigem Schreiben erheblich verbessert und habe begonnen, ausschließlich VIM als Editor zu verwenden, was ich bis heute beibehalten habe. 
                 .clear

             section
                 .sectionTitle
                     img(src='images/translation.png' alt='Languages Icon' class='icon')
                     .centerSectionTitle
                        h1 Sprachen  
                 .sectionContent
                     ul.idioms
                         li: h3 Portugiesisch 
                         p.subDetails Muttersprache 
                         li: h3 Englisch 
                         p.subDetails Verhandlungssicher 
                         li: h3 Deutsch 
                         p.subDetails Fließend 
                         li: h3 Spanisch 
                         p.subDetails Fließend 
                 .clear
    //-  script(type='text/javascript'). 
    //-      if((window.innerWidth < 800 && window.innerWidth > 601) || 
    //-         (window.innerWidth < 481)){
    //-            var listItem = document.createElement('li');
    //-            var listText = document.createTextNode('Jest');
    //-            listItem.appendChild(listText) 
    //-            var storeSkills = document.getElementsByClassName('keySkills');
    //-            storeSkills[0].appendChild(listItem);
    //-      } 

