doctype html
html(lang="en")
 head
   meta(charset="UTF-8")
   meta(name="author" content="Luiz Carneiro")
   meta(name="viewport" content="width=device-width")
   meta(name="description" content="The Curriculum Vitae of Luiz Carneiro")
   link(type="text/css" rel="stylesheet" href="css/styles.min.css")
   link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300")
   title Luiz Carneiro - Curriculum Vitae
 body#top
     #cv.instaFade
         .mainDetails
             #headshot.quickFade 
                 img(src='images/avatar_medium.jpg' alt='Luiz Carneiro')
             #name
                 h1.quickFade.delayTwo Luiz Carneiro
                 h2.quickFade.delayThree Front-end developer 
             #contactDetails.quickFade.delayFour
                 ul
                     li e: <a href="mailto:luuizpaulo@gmail.com" target="_blank"> luuizpaulo@gmail.com </a>
                     li w: <a href="http://www.luiz.pro" target="_blank"> www.luiz.pro </a>
                     li m: +4917672969754
             .clear

         #mainArea.quickFade.delayFive
             section 
                 article
                     .sectionTitle
                         h1 Personal Profile
                     .sectionContent
                         p Sit laudantium maxime ipsum quam est, iste! Dolor nemo aliquam distinctio expedita omnis. Ea nemo aliquid ex reiciendis aut architecto ipsum saepe exercitationem error quibusdam officia! Ipsum eligendi esse cum!
                 .clear

             section
                 .sectionTitle
                     h1 Work Experience
                 .sectionContent
                     article
                         h2 Front-end Developer
                         p.subDetails April 2017 - Present 
                         p Dolor eos mollitia reiciendis ducimus ab, nam modi ipsum. Eos reiciendis nobis qui maiores iure! Qui sapiente eligendi eum alias quidem voluptas! Molestiae voluptas tenetur adipisci quia similique laborum at?
                          
                     article
                         h2 Front-end Developer
                         p.subDetails April 2017 - Present 
                         p Dolor eos mollitia reiciendis ducimus ab, nam modi ipsum. Eos reiciendis nobis qui maiores iure! Qui sapiente eligendi eum alias quidem voluptas! Molestiae voluptas tenetur adipisci quia similique laborum at?

                     article
                         h2 Front-end Developer
                         p.subDetails April 2017 - Present 
                         p Dolor eos mollitia reiciendis ducimus ab, nam modi ipsum. Eos reiciendis nobis qui maiores iure! Qui sapiente eligendi eum alias quidem voluptas! Molestiae voluptas tenetur adipisci quia similique laborum at?
                 .clear

             section
                 .sectionTitle
                     h1 Key Skills
                 .sectionContent
                     ul.keySkills
                         li HTML
                         li HTML
                         li HTML
                         li HTML
                         li HTML
                         li HTML
                         li HTML
                         li HTML
                         li HTML

                 .clear

             section
                 .sectionTitle
                     h1 Education
                 .sectionContent
                     article
                         h2 College/University
                         p.subdetails PhD
                         p Sit pariatur perferendis quos non id! Nesciunt illum reprehenderit quibusdam voluptas similique a dicta rerum maiores corrupti optio. Repudiandae maxime ullam itaque itaque porro sapiente, accusantium error, qui. Autem non.
                         h2 College/University
                         p.subDetails Master
                         p Adipisicing suscipit vero suscipit pariatur amet minima aperiam. Tempora repellat nobis distinctio nihil quibusdam, nulla! Minima dignissimos earum ex sequi.
                 .clear

