doctype html
html(lang="de")
 head
   meta(charset="UTF-8")
   meta(name="author" content="Luiz Carneiro")
   meta(name="viewport" content="width=device-width")
   meta(name="description" content="Der Lebenslauf von Luiz Carneiro ")
   link(type="text/css" rel="stylesheet" href="css/styles.min.css")
   title Luiz Carneiro - Lebenslauf
 body#top
     #cv.instaFade 
         .mainDetails
           #headshot.quickFade 
                 picture 
                   source(media='(max-width: 600px)' srcset='images/opt_medium.jpg')
                   source(media='(min-width: 601px)' srcset='images/opt_small.jpg')
                   img(src='images/cv_photo_medium.jpg' alt='Luiz Carneiro')
             #name
                 h1.quickFade.delayTwo Luiz Carneiro, PhD 
                 h2.quickFade.delayThree Software Entwickler  
                 p.quickFade.delayThree.subDetails Brasilianer - 30 Jahre alt 
             #contactDetails.quickFade.delayFour
                 ul
                     li e-mail: <a href="mailto:luuizpaulo@gmail.com" target="_blank"> mail@luiz.pro </a>
                     li twitter: <a href="https://www.twitter.com/luizdotpro" target="_blank"> @luizdotpro </a>
                     li github: <a href="https://github.com/luizdotpro" target="_blank"> @luizdotpro </a>
                     li mobile: <a href="tel:004917672969754" target="_blank"> +4917672969754 </a> 
             .clear

         #mainArea.quickFade.delayFive
             section 
                 article
                     .sectionTitle
                         img(src='images/boy.png' alt='Personal Profile Icon' class='icon')
                         h1 Personal Profile
                     .sectionContent
                         p.justify Ich bin Physik-Doktorand und selbst erlernter Software Entwickler mit einer wahren Leidenschaft für Javascript. Parallel zu meiner Promotion, die ich im Mai 2018 abschließen werde, habe ich die notwendigen Fähigkeiten entwickelt, die meine Karriere im Bereich Programmierung ermöglichen. Mein großes Interesse führte dazu, dass ich ein Stinpendium von Google für das Zertifizierungsprogramm als Mobile Webspezialist erhalten habe (Abschluss bis Ende 2018). Zusammenfassend hat mich mein Hintergrund in exakten Wissenschaften zu einem sehr gut ausgebildeten Problemlöser gemacht und ich fühle mich bestens vorbereitet, da ich kontinuierlich neue Herausforderungen bewältige.    
                 .clear

             section
                 .sectionTitle
                     img(src='images/statistics.png' alt='Work Experience Icon' class='icon')
                     h1 Arbeitserfahrung 
                 .sectionContent
                     article
                         h2 Frontend Entwickler – Freelancer Projekte  
                         p.subDetails January 2017 - Aktuell 
                         p.justify Als autodidaktischer Entwickler habe ich angefangen, Webseitenmodelle in echten Code umzuwandeln (zu sehen auf meinen GitHub-Repositories). Im Moment entwickle ich meine Online-Identität, wobei ich Erfahrung mit React.js sammle und nehme parallel an der Google Developer Challenge teil. 
                          
                     article
                         h2 LMU-Doktorand 
                         p.subDetails Januar 2014 - Mai 2018 
                         p.justify Während der Promotion habe ich drei wissenschaftliche Artikel in einflussreichen Magazinen veröffentlicht, die sich hauptsächlich mit Astronomie und theoretischen mathematischen Modellen befassen. Während dieser Arbeit konnte ich besonders meine Fähigkeiten in den Bereichen Datenanalyse, grafische Darstellung von Daten und im Halten von Reden verbessern. 
                         
                 .clear

             section
                 .sectionTitle
                     img(src='images/computer.png' alt='Tech Skills Icon' class='icon')
                     h1 Key Skills*
                 .sectionContent
                     ul.keySkills
                         li HTML/Jade
                         li CSS/Sass
                         li Javascript
                         li React 
                         li Gulp
                         li Git
                         li Bash/Zshell
                         li VIM
                         li sed/awk 
                     p.note.justify *Neben diesen habe ich auch viel Erfahrung mit Python, IDL, Fortran und Latex. 
                       //  span.note Besides these, I have also a strong experience with Python, IDL and Fortran. 
                 .clear

             section
                 .sectionTitle
                     img(src='images/science.png' alt='Education Icon' class='icon')
                     h1 Ausbildung 
                 .sectionContent
                     article
                         h2 Google Developer Nanodegree Stipendium  
                         p.subDetails Spezialisierungskurs (15/11/2017 - 15/08/2018)
                         p.justify Das Stipendium gliederte sich in drei Schritte: zunächst die Kandidatenauswahl, gefolgt von drei Kursen über progressive Webanwendungen. Die Studenten, die die Kurse abgeschlossen und einen bemerkenswerten Beitrag für die Gemeinschaft geleistet haben, wurden über die Udacity-Plattform zu einem Nanodegree-Kurs ausgewählt. Nach dem Nanodegree besteht die Option, sich für die Google Mobile Webspezialisten-Zertifizierung zu bewerben, was ich für Ende 2018 plane. 

                         h2 Universitäts-Sternwarte München - LMU
                         p.subDetails Doktorat (06/01/2014 - 22/05/2018)
                         p.justify Der Schwerpunkt eines Doktorates besteht darin, einen Master of Science in einen Forscher zu verwandeln, der in der Lage ist, eine vollständige Studie von Grund auf bis zu einer relevanten Publikation durchzuführen. Ich konnte in dieser Zeit viele Fähigkeiten lernen und verbessern, wie zum Beispiel: Programmierung, Teamarbeit und Aufgabenautomatisierung.  

                         h2 Nationales Observatorium von Rio de Janeiro 
                         p.subDetails Master (02/05/2011 - 01/07/2013) 
                         p.justify Während des Master-Studiums hatte ich den ersten Kontakt mit den verschiedenen Tools, die in der wissenschaftlichen Forschung verwendet werden. Ich habe meine Kenntnisse in Linux sowie im wissenschaftlich englischsprachigem Schreiben erheblich verbessert und habe begonnen, ausschließlich VIM als Editor zu verwenden, was ich bis heute beibehalten habe. 
                 .clear

             section
                 .sectionTitle
                     img(src='images/translation.png' alt='Languages Icon' class='icon')
                     h1 Sprachen  
                 .sectionContent
                     ul.idioms
                         li: h3 Portugiesisch 
                         p.subDetails Muttersprache 
                         li: h3 Englisch 
                         p.subDetails Verhandlungssicher 
                         li: h3 Deutsch 
                         p.subDetails Fließend 
                         li: h3 Spanisch 
                         p.subDetails Fließend 
                 .clear
     script(type='text/javascript'). 
         if((window.innerWidth < 800 && window.innerWidth > 601) || 
            (window.innerWidth < 481)){
               var listItem = document.createElement('li');
               var listText = document.createTextNode('DevTools');
               listItem.appendChild(listText) 
               var storeSkills = document.getElementsByClassName('keySkills');
               storeSkills[0].appendChild(listItem);
         } 

