doctype html
html(lang="de")
 head
   meta(charset="UTF-8")
   meta(name="author" content="Luiz Carneiro")
   meta(name="viewport" content="width=device-width")
   meta(name="description" content="Der Lebenslauf von Luiz Carneiro ")
   link(type="text/css" rel="stylesheet" href="css/styles.min.css")
   title Luiz Carneiro - Lebenslauf
 body#top
     #cv.instaFade 
         .mainDetails
           #headshot.quickFade 
                 picture 
                   source(media='(max-width: 600px)' srcset='images/opt_medium.jpg')
                   source(media='(min-width: 601px)' srcset='images/opt_small.jpg')
                   img(src='images/cv_photo_medium.jpg' alt='Luiz Carneiro')
             #name
                 h1.quickFade.delayTwo Luiz Carneiro, PhD 
                 h2.quickFade.delayThree Software Entwickler  
                 p.quickFade.delayThree.subDetails Brasilianer - 30 Jahre alt 
             #contactDetails.quickFade.delayFour
                 ul
                     li e-mail: <a href="mailto:luuizpaulo@gmail.com" target="_blank"> mail@luiz.pro </a>
                     li twitter: <a href="https://www.twitter.com/luizdotpro" target="_blank"> @luizdotpro </a>
                     li github: <a href="https://github.com/luizdotpro" target="_blank"> @luizdotpro </a>
                     li mobile: <a href="tel:004917672969754" target="_blank"> +4917672969754 </a> 
             .clear

         #mainArea.quickFade.delayFive
             section 
                 article
                     .sectionTitle
                         img(src='images/boy.png' alt='Personal Profile Icon' class='icon')
                         h1 Personal Profile
                     .sectionContent
                         p.justify Softwareentwickler und PhD in Physik mit Erfahrung in  cross-platform Entwicklung mit ReactJS und React Native. 
                         ul.selfDescription
                             li Leidenschaft für exakte Wissenschaften und professionelle Problemlösung
                             li Anpassungsfähiger und flexibler Teamplayer
                             li Ergebnisorientiert mit höchster code-qualität verplichtet   
                 .clear 

             section
                 .sectionTitle
                     img(src='images/statistics.png' alt='Work Experience Icon' class='icon')
                     h1 Arbeitserfahrung 
                 .sectionContent
                     article
                         h2 Software Entwickler - Sport1 GmbH
                         span.subDetails June 2018 - Present | German
                         p.justify Ich beschäftige mich intensiv mit ReactJS (Primitives, React Native, NextJS, GatsbyJS) sowie den verschiedenen Tools zur Verbesserung der Codequalität (Typescript, Jest, Styled System).
                         ul.selfDescription
                             li Beitrag zu verschiedenen Codebasen und eigenständige Projektdurchführung
                             li Tägliche Verwendung von Docker, Nginx, Kubernetes 
                             li Selbständige Arbeit sowie Teamprojeckte mit zwei bis fünfzehn multikulturellen Entwicklern 
                     article
                         h2 Frontend Entwickler – Freelancer Projekte 
                         p.subDetails June 2017 - March 2018 | English
                         p.justify Als autodidaktischer Entwickler habe ich angefangen, Webseitenmodelle in echten Code umzuwandeln (zu sehen auf meinen GitHub-Repositories). 
                         ul.selfDescription
                             li Tiefes Eintauchen in CSS (dieser Lebenslauf ist in reinem CSS verfasst, siehe Github-Profil)
                             li Verbesserte Kommunikation und Organisation
                             li Erste Projekte gestartet 
                          
                     article
                         h2 LMU-Doktorand 
                         p.subDetails Januar 2014 - Mai 2018 | Englisch
                         p.justify Während der Promotion habe ich drei wissenschaftliche Artikel in einflussreichen Magazinen veröffentlicht, die sich hauptsächlich mit Astronomie und theoretischen mathematischen Modellen befassen. 
                         ul.selfDescription
                             li Datenanalyse, Zeichnen und öffentliches Sprechen waren wichtige Fähigkeiten, die zusammen mit dieser Arbeit verbessert wurden
                             li Ungefähr 15.000 Codezeilen in den letzten vier Jahren 
                 .clear
                         
                 .clear

             section
                 .sectionTitle
                     img(src='images/computer.png' alt='Tech Skills Icon' class='icon')
                     h1 Key Skills*
                 .sectionContent
                     ul.keySkills
                         li TypeScript
                         li Javascript
                         li React 
                         li React Native
                         li CSS-in-JS
                         li SSR
                         li AMP
                         li Docker
                         li Bash/Zshell
                     p.note.justify *Neben diesen habe ich auch Erfahrung mit Python, IDL, Fortran und Latex. 
                       //  span.note Besides these, I have also a strong experience with Python, IDL and Fortran. 
                 .clear

             section
                 .sectionTitle
                     img(src='images/science.png' alt='Education Icon' class='icon')
                     h1 Ausbildung 
                 .sectionContent
                     article
                         h2 Google Developer Nanodegree Stipendium  
                         p.subDetails Spezialisierungskurs (15/11/2017 - 15/08/2018)
                         p.justify Das Stipendium hatte zunächst eine Kandidatenauswahl, gefolgt von drei Kursen über progressive Webanwendungen (PWAs). Für die Studenten, die die Kurse abgeschlossen haben und einen bemerkenswerten Beitrag für die Community geleistet haben, wurde es über die Udacity-Plattform im Nanobereich gesponsert.
                         ul.selfDescription
                             li Datenabruf und responsiveness (RWD)
                             li Service workers, Accessibility, IndexedDB
                             li Automatisieren und verbessern den Workflow mit GulpJS


                         h2 Universitäts-Sternwarte München - LMU
                         p.subDetails Doktorat (06/01/2014 - 22/05/2018)
                         p.justify Der Schwerpunkt eines PhD Kurs ist es, einen Master of Science (MSc) in einen Forscher zu verwandeln, der in der Lage ist, eine vollständige Studie von Grund auf bis zu einer relevanten Veröffentlichung zu erstellen. Ich habe in dieser Zeit viele Fähigkeiten erlernt und verbessert, zum Beispiel: 
                         ul.selfDescription
                             li Programmierung - zur Datenanalyse und zum Plotten
                             li Aufgabenautomatisierung - über Bash-Skripte und Python-Routinen 
                             li Teamarbeit - Zusammenarbeit mit Wissenschaftlern zur Veröffentlichung von Artikeln

                        //-  h2 Nationales Observatorium von Rio de Janeiro 
                        //-  p.subDetails Master (02/05/2011 - 01/07/2013) 
                        //-  p.justify Während des Master-Studiums hatte ich den ersten Kontakt mit den verschiedenen Tools, die in der wissenschaftlichen Forschung verwendet werden. Ich habe meine Kenntnisse in Linux sowie im wissenschaftlich englischsprachigem Schreiben erheblich verbessert und habe begonnen, ausschließlich VIM als Editor zu verwenden, was ich bis heute beibehalten habe. 
                 .clear

             section
                 .sectionTitle
                     img(src='images/translation.png' alt='Languages Icon' class='icon')
                     h1 Sprachen  
                 .sectionContent
                     ul.idioms
                         li: h3 Portugiesisch 
                         p.subDetails Muttersprache 
                         li: h3 Englisch 
                         p.subDetails Verhandlungssicher 
                         li: h3 Deutsch 
                         p.subDetails Fließend 
                         li: h3 Spanisch 
                         p.subDetails Fließend 
                 .clear
     script(type='text/javascript'). 
         if((window.innerWidth < 800 && window.innerWidth > 601) || 
            (window.innerWidth < 481)){
               var listItem = document.createElement('li');
               var listText = document.createTextNode('Jest');
               listItem.appendChild(listText) 
               var storeSkills = document.getElementsByClassName('keySkills');
               storeSkills[0].appendChild(listItem);
         } 

